<!DOCTYPE html>
<html ng-app="website">
<head>
    <meta charset="utf-8">
    <title>Chefsource</title>

    <meta name="viewport" content="width=device-width">
            <link rel="stylesheet" type="text/css" href="normalize.css">
            <link rel="stylesheet" type="text/css" href="style.css">
            <!-- <link rel="stylesheet" type="text/css"href="bootstrap.css"> -->
            <link href='http://fonts.googleapis.com/css?family=Lobster|Oswald' rel='stylesheet' type='text/css'>
            <meta name="apple-mobile-web-app-capable" content="yes" />

            <link href="css/bootstrap" rel="stylesheet">
            <link rel="stylesheet" href="css/styles.css">
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
    

    <header>
        <a href="index.html"><img class="backarrow"src="images/arrow.png" alt="back arrow"></a>
        <h2 class="navtitle">ChefSource</h2>
        <img class="searchbtn"src="images/search.png" alt="search button">
    </header>

    <div class="searchbox">
    </div>
    <form>
        <input class="search" type="text" ng-model="search.title" placeholder="Search" ng-maxlength="20" ng-minlength="0">
    </form>

    <!-- <ul class="showtitle">
      <li class='' ng-repeat="slide in slides | filter:search">
       <h3>{{slide.title}}</h3>
      </li>
    </ul>  -->           

<body ng-controller="MainCtrl">

<div class="container slider">
    <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

    <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
    <a class="arrow next" href="#" ng-click="prevSlide()"></a>
    <!-- <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
        </div>
    </nav> -->
</div>

                <div class="recipe">
                    <div ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                    ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                    ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
                    <h3>{{slide.title}}</h3>
                    <p>{{slide.description}}</p>
                    <h3 class="ingredients">Ingredients</h3>
                    <ul>
                        <li class="ing-item">{{slide.ingredient1}}</li>
                        <li class="ing-item">{{slide.ingredient2}}</li>
                        <li class="ing-item">{{slide.ingredient3}}</li>
                        <li class="ing-item">{{slide.ingredient4}}</li>
                        <li class="ing-item">{{slide.ingredient5}}</li>

                   </ul>

                   <h3 class="directions">Directions</h3>
                   <p class="ing-dir">{{slide.directions1}}</p>
                   <p class="ing-dir2">{{slide.directions2}}</p>
                   <p class="ing-dir3">{{slide.directions3}}</p>

                   </div>
                
                </div>
                <footer>
                </footer> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="js/app.js"></script>
<script src="js/jq.js"></script>
<script src="angular-route.js"></script>

</body>
</html>
